{% extends "models/topicpage/commencement-2014/__base.html" %}
{% load ads_tags %}
{% load compress %}
{% load content_filters %}
{% load content_module %}
{% load content_tags %}
{% load common %}
{% load cache %}
{% load static %}
{% load placeholders %}
{% get_static_prefix as STATIC_URL %}

{% block title %}{{ topic.title }} | {{ block.super }}{% endblock %}

{% block addl_css %}
<style media="all" type="text/css">
{% placeholder name="featured" content_range="(1,4)" content_types="article,external content" as feats %}
    {% for a in feats|slice:":2" %}
    .featured-left a:nth-child({{ forloop.counter }}) > div {
        background-image: url({{ a.main_rel_content|img_url:"500,10000" }});
        height: {% scalebox feats|slice:":2" forloop.counter0 500 %}px;
    }
    {% endfor %}

    {% for a in feats|slice:"2:4" %}
    .featured-right a:nth-child({{ forloop.counter }}) > div {
        background-image: url({{ a.main_rel_content|img_url:"500,10000" }});
        height: {% scalebox feats|slice:"2:4" forloop.counter0 500 %}px;
    }
    {% endfor %}
{% endplaceholder %}
</style>
{% endblock %}

{% block content %}

<header>
    <div id="toolbar">
        <div id="toolbar-container">
            <nav id="toolbar-colophon">
                <ul>
                    {% for t in topic.parent.get_ordered_children %}
                    <li><a href="{{ t.get_absolute_url }}">{{ t.title }}</a></li>
                    {% endfor %}
                </ul>
                <!-- {% contentmodule quicklinks %}{% endcontentmodule %} -->
            </nav>
            <nav id="toolbar-social">
                {% contentmodule quicklinks-social %}{% endcontentmodule %}
            </nav>
            <!-- <div id="toolbar-weather">
                {% weather %}
            </div> -->
            <div id="masthead-search-mobile">
                <form action="/search/" id="cse-search-box">
                    <input type="hidden" name="cx" value="013815813102981840311:aw6l9tjs1a0" />
                    <input type="hidden" name="cof" value="FORID:10" />
                    <input type="hidden" name="ie" value="UTF-8" />
                    <input type="text" class="query" name="q" />
                    <button class="search-submit" type="submit" name="sa">Search</button>
                </form>
            </div>
        </div>
    </div>
    <div id="masthead">
        <div id="masthead-first-wrapper">
            <div id="masthead-first">
                <div id="masthead-first-container">
                    <h1><a href="/?r=0">The Harvard Crimson</a></h1>
                    <h3><a href="{{ topic.parent.get_absolute_url }}">{{ topic.parent.title }}</a></h3>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="ad-tag top-leader-ad">Advertisement</div>
<div class="leader-ad top-leader-body">
    {% ad_unit "728x90" %}
</div>

<div class="content"><div class="home-link">
   <a href="/?r=0" class="cf">Back to<span class="break-on-large"></span> thecrimson.com</a>
</div></div>

<div class="content">
    <div class="section supp-page">
        <div class="section-anchor" id="featured"></div>
        <div class="section-header">{{ topic.title }}</div>
        <div class="featured-container cf">
            {% placeholder name="featured" content_range="(4,4)" content_types="article,external content" as feats %}
            <div class="featured-left">
                {% for a in feats|slice:":2" %}
                <a href="{{ a.get_absolute_url }}"><div>
                    <div class="featured-title"><div>{{ a.title }}</div></div>
                </div></a>
                {% endfor %}
            </div>
            <div class="featured-right">
                {% for a in feats|slice:"2:" %}
                <a href="{{ a.get_absolute_url }}"><div>
                    <div class="featured-title"><div>{{ a.title }}</div></div>
                </div></a>
                {% endfor %}
            </div>
            {% endplaceholder %}
        </div>
    </div>
    <div class="section">
        {% placeholder name="articles" content_range="(0,100)" content_types="article,image,widget,external content,gallery" as items %}
            {% for i in items %}
                {% if i.content_type.name = "article" or i.content_type.name = "gallery" %}
                <div class="landing-article">
                    <div class="landing-article-title">
                        <a href="{{ i.get_absolute_url }}">{{ i.title }}</a>
                    </div>
                    <div class="landing-article-teaser">
                        {{ i.description }}
                    </div>
                    <div class="landing-article-byline">
                        {{ i|byline:"short" }}
                    </div>
                </div>
                {% elif i.content_type.name = "image" %}
                <div class="landing-work">
                    <div class="landing-work-title big-title"><a href="{{ i.get_absolute_url }}">{{ i.title }}</a></div>
                    <div class="landing-work-byline">{{ i|byline:"short" }}</div>
                    <div class="landing-work-body">
                        <img class="landing-image" src="{{ i|img_url:"800,10000"}}">
                    </div>
                </div>
                {% elif i.content_type.name = "widget" %}
                <div class="landing-work">
                    <div class="landing-work-title big-title"><a href="{{ i.get_absolute_url }}">{{ i.title }}</a></div>
                    <div class="landing-work-byline">{{ i|byline:"short" }}</div>
                    <script type="text/javascript">{{ i.javascript }}</script>
                    {{ i.html }}
                </div>
                {% endif %}
            {% endfor %}
        {% endplaceholder %}
    </div>
    <div class="section cf">
        {% placeholder name="awards" content_range="(0,100)" content_types="article,external content,gallery" as articles %}
        <div class="article-column">
            <div class="column-inner">
                <h3>{{ articles.title }}</h3>
                <div class="articles">
                {% for a in articles %}
                    <a class="title" href="{{ a.get_absolute_url }}" target="_blank">{{ a.title }}</a>
                    <div class="article-byline">
                        {{ a|byline:"short" }}
                        {% date a %}
                    </div>
                    <div class="description">{{ a.description }}</div>
                {% endfor %}
                </div>
            </div>
        </div>
        {% endplaceholder %}

        {% placeholder name="fall recaps" content_range="(0,100)" content_types="article,external content,gallery" as articles %}
        <div class="article-column">
            <div class="column-inner">
                <h3>{{ articles.title }}</h3>
                <div class="articles">
                {% for a in articles %}
                    <a class="title" href="{{ a.get_absolute_url }}" target="_blank">{{ a.title }}</a>
                    <div class="article-byline">
                        {{ a|byline:"short" }}
                        {% date a %}
                    </div>
                    <div class="description">{{ a.description }}</div>
                {% endfor %}
                </div>
            </div>
        </div>
        {% endplaceholder %}

        {% placeholder name="spring recaps" content_range="(0,100)" content_types="article,external content,gallery" as articles %}
        <div class="article-column">
            <div class="column-inner">
                <h3>{{ articles.title }}</h3>
                <div class="articles">
                {% for a in articles %}
                    <a class="title" href="{{ a.get_absolute_url }}" target="_blank">{{ a.title }}</a>
                    <div class="article-byline">
                        {{ a|byline:"short" }}
                        {% date a %}
                    </div>
                    <div class="description">{{ a.description }}</div>
                {% endfor %}
                </div>
            </div>
        </div>
        {% endplaceholder %}
    </div>
</div>
<div class="ad-tag">Advertisement</div>
<div class="leader-ad">
    {% ad_unit "728x90" %}
</div>
<div class="content">
    <div id="design-attrib"></div>
</div>

{% endblock %}
