{% extends "__base.html" %}
{% load ads_tags %}
{% load common %}
{% load arts_blog_preview %}
{% load flyby_preview %}
{% load top_articles %}
{% load placeholders %}

{% block content %}
<section id="upper">
    <div id="upper-body">
        <div id="section-bar">
            <h1>Arts</h1>
            <nav id="section-nav">
                <ul>
                    <li><a href="/section/arts/blog/">Blog</a></li>
                    <li><a href="/tag/Music/">Music</a></li>
                    <li><a href="/tag/Film/">Film</a></li>
                    <li><a href="/tag/Campus Arts/">Campus</a></li>
                    <li><a href="/tag/Books/">Books</a></li>
                    <li><a href="/tag/theater/">Theater</a></li>
                    <li><a href="/columns/arts">Columns</a></li>
                    <li><a href="{{ rss_url }}"><img src="{{ STATIC_URL}}images/icons/rss.gif"></a></li>
                </ul>
            </nav>
        </div>
        {% placeholder name="featured" content_range="(1,1)" content_types="article, topic page" as feat %}
            {% with article=feat|first classes="feature horizontal" image=1 %}
                {% include "models/article/preview.html" %}
            {% endwith %}
        {% endplaceholder %}
        <div id="upper-first">
            <h2 class="subsection-header"><a href="/columns/arts">Columns</a></h2>
            <div class="subsections-container">
                    {% for column in columns %}
                        {% if column.recent %}
                            {% include "models/column/section-preview.html" %}
                        {% endif %}
                    {% endfor %}
            </div>
        </div>
        <div id="upper-second">
            <div class="upper-column">
                <div class="subsection">
                    <h2><a href="/tag/Music">Music</a></h2>
                    {% placeholder name="music" content_range="(2, 2)" content_types="article" as music_articles %}
                        {% for article in music_articles %}
                            {% include "models/article/preview-small.html" with image=0 comments=1 section=0 %}
                        {% endfor %}
                    {% endplaceholder %}
                </div>
                <div class="subsection">
                    <h2><a href="/tag/On Campus">On Campus</a></h2>
                    {% placeholder name="oncampus" content_range="(2, 2)" content_types="article" as oncampus_articles %}
                        {% for article in oncampus_articles  %}
                            {% include "models/article/preview-small.html" with image=0 comments=1 section=0 %}
                        {% endfor %}
                    {% endplaceholder %}
                </div>
            </div>
            <div class="upper-column">
                <div class="subsection">
                    <h2><a href="/tag/Film">Film</a></h2>
                    {% placeholder name="film" content_range="(2, 2)" content_types="article" as film_articles %}
                        {% for article in film_articles  %}
                            {% include "models/article/preview-small.html" with image=0 comments=1 section=0 %}
                        {% endfor %}
                    {% endplaceholder %}
                </div>
                <div class="subsection">
                    <h2><a href="/tag/Books">Books</a></h2>
                    {% placeholder name="books" content_range="(2, 2)" content_types="article" as book_articles %}
                        {% for article in book_articles  %}
                            {% include "models/article/preview-small.html" with image=0 comments=1 section=0 %}
                        {% endfor %}
                    {% endplaceholder %}
                </div>
            </div>
        </div>
    </div>
    <div id="upper-sidebar">
        {% arts_blog_preview %}
        {% most_read_articles %}
        <div class="sidekick-shell">
            <div class="sidekick">
                {% ad_unit "300x250" %}
            </div>
        </div>
    </div>
</section>
{% highlights_bar %}
<section id="lower">
    <div id="lower-body">
        <div class="lower-column">
            {% placeholder name="lower column part 1 (left)" content_range="(5,5)" content_types="article" as lower_articles %}
                {% for article in lower_articles %}
                    {% include "models/article/preview-small.html" with image=0 comments=1 section=1 %}
                {% endfor %}
            {% endplaceholder %}
            {% placeholder name="lower column part 2 (left)" content_range="(4,4)" content_types="article" as lower_articles %}
                {% for article in lower_articles %}
                    {% include "models/article/preview-small.html" with image=0 noteaser=1 comments=1 section=1 %}
                {% endfor %}
            {% endplaceholder %}
        </div>
        <div class="lower-column">
            {% placeholder name="lower column part 1 (right)" content_range="(5,5)" content_types="article" as lower_articles %}
                {% for article in lower_articles %}
                    {% include "models/article/preview-small.html" with image=0 comments=1 section=1 %}
                {% endfor %}
            {% endplaceholder %}
            {% placeholder name="lower column part 2 (right)" content_range="(4,4)" content_types="article" as lower_articles %}
                {% for article in lower_articles %}
                    {% include "models/article/preview-small.html" with image=0 noteaser=1 comments=1 section=1 %}
                {% endfor %}
            {% endplaceholder %}
        </div>
    </div>
    <div id="lower-sidebar">
        <div class="sidekick-shell">
            <div class="sidekick">
                {% ad_unit "300x250" %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
