<h2 class="module-title">Social</h2>
<ul class="module-list">
	<li>
		<iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fadmissionsblog&amp;width=292&amp;height=62&amp;colorscheme=light&amp;show_faces=false&amp;header=false&amp;stream=false&amp;show_border=false&amp;appId=97233827414" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:292px; height:78px;" allowTransparency="true"></iframe>
	</li>
	<li>
		<a href="https://twitter.com/AdmissionsBlog" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @AdmissionsBlog</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	</li>
</ul>
