{% extends "base.html" %}

{% block title %}
	Decode
{% endblock %}

{% block content %}

Local <input id="local" name="local" type="radio">
<br>
Remote <input id="remote" name="remote" type="radio">
<br>

<form method="post">
    <input id="key" name="key" type="text" placeholder="Key"/>
    <input id="msg" name="msg" type="text" placeholder="Message to decode"/>
    <button id="submit" type="submit">Submit Me!</button>
    {% csrf_token %}
</form>

<p id="local-res" style="display:none">Result</p>
{% endblock %}