<div class="shortcodes-wrapper shortcodes-wrapper-{{ pos }} shortcodes-wrapper-{{ size }}">
  <div id="DV-viewer-2771788-Lorem-Ipsum" class="DV-container"></div>
<script src="//assets.documentcloud.org/viewer/loader.js"></script>
<script>
  DV.load("https://www.documentcloud.org/documents/2771788-Lorem-Ipsum.js", {
  sidebar: false,
    container: "#DV-viewer-2771788-Lorem-Ipsum"
  });
</script>
<noscript>
  <a href="https://assets.documentcloud.org/documents/2771788/Lorem-Ipsum.pdf">Lorem-Ipsum (PDF)</a>
  <br />
  <a href="https://assets.documentcloud.org/documents/2771788/Lorem-Ipsum.txt">Lorem-Ipsum (Text)</a>
</noscript>

</div>
