<div class="shortcodes-wrapper shortcodes-wrapper-{{ pos }} shortcodes-wrapper-{{ size }}">
<div class="DC-embed" data-version="1.1">
  <div style="font-size:10pt;line-height:14pt;">
    Page 1 of <a class="DC-embed-resource" href="https://www.documentcloud.org/documents/{{documetId}}#document/{{page}}" title="View entire Lorem-Ipsum on DocumentCloud in new window or tab" target="_blank">Lorem-Ipsum</a>
  </div>
  <img src="//assets.documentcloud.org/documents/2771788/pages/Lorem-Ipsum-p1-normal.gif?1458346457" srcset="//assets.documentcloud.org/documents/2771788/pages/Lorem-Ipsum-p1-normal.gif?1458346457 700w, //assets.documentcloud.org/documents/2771788/pages/Lorem-Ipsum-p1-large.gif?1458346457 1000w" alt="Page 1 of Lorem-Ipsum" style="max-width:100%;height:auto;margin:0.5em 0;border:1px solid #ccc;-webkit-box-sizing:border-box;box-sizing:border-box;clear:both">
  <div style="font-size:8pt;line-height:12pt;text-align:center">
    Contributed to
    <a href="https://www.documentcloud.org/" title="Go to DocumentCloud in new window or tab" target="_blank" style="font-weight:700;font-family:Gotham,inherit,sans-serif;color:inherit;text-decoration:none">DocumentCloud</a> by
    <a href="https://www.documentcloud.org/public/search/Account:14535-meg-bernhard" title="View documents contributed to DocumentCloud by Meg Bernhard in new window or tab" target="_blank">Meg Bernhard</a> of
    <a href="https://www.documentcloud.org/public/search/Group:harvardcrimson" title="View documents contributed to DocumentCloud by The Harvard Crimson in new window or tab" target="_blank">The Harvard Crimson</a> &bull;
    <a href="https://www.documentcloud.org/documents/2771788-Lorem-Ipsum.html#document/p1" title="View entire Lorem-Ipsum on DocumentCloud in new window or tab" target="_blank">View document</a> or
    <a href="https://www.documentcloud.org/documents/2771788/pages/Lorem-Ipsum-p1.txt" title="Read the text of page 1 of Lorem-Ipsum on DocumentCloud in new window or tab" target="_blank">read text</a>
  </div>
</div>
<script src="//assets.documentcloud.org/embed/loader/enhance.js"></script>
</div>
