{% extends "shortcodes/_base.html" %}

{% load common %}
{% load content_filters %}

{% block addl_classes %}{% if caption %}shortcodes-border{% endif %}{% endblock %}

{% block content %}
<div class="shortcodes-widget-html">
    {{ imports }}
    {{ widget.html|safe }}
</div>
<script>
	{{ widget.javascript|safe }}
</script>
{% if byline %}
    <div class="shortcodes-byline">
        {{ widget.contributors.all|linkify|human_list }}
    </div>
{% endif %}
{% if caption %}
    <div class="shortcodes-description">
        {{ caption }}
    </div>
{% endif %}
{% endblock %}
