/* Shortcodes */

.boxquote #container
{
    height:2000px;
}

.boxquote #container
{
    margin:50px;
    padding:50px;
}

.hideme
{
    opacity:0;
}


.boxquote .card-panel {
  transition: box-shadow .25s;
  padding: 20px;
  margin: 0.5rem 0 1rem 0;
  border-radius: 2px;
  background-color: #fff;
}

.boxquote .card {
  position: relative;
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
  transition: box-shadow .25s;
  border-radius: 2px;
}

.boxquote .card .card-title {
  font-size: 24px;
  font-weight: 300;
}

.boxquote .card .card-title.activator {
  cursor: pointer;
}

.boxquote .card.small, .boxquote .card.medium, .card.large {
  position: relative;
}

.boxquote .card.small .card-image, .boxquote .card.medium .card-image, .boxquote .card.large .card-image {
  max-height: 40%;
  overflow: hidden;
}

.card.small .card-content, .boxquote .card.medium .card-content, .boxquote .card.large .card-content {
  max-height: 40%;
  overflow: hidden;
}

.boxquote .card.small .card-action, .boxquote .card.medium .card-action, .boxquote .card.large .card-action {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.boxquote .card.small {
  height: 300px;
}

.boxquote .card.medium {
  height: 400px;
}

.boxquote .card.large {
  height: 500px;
}

.boxquote .card .card-image {
  position: relative;
}

.boxquote .card .card-image img {
  display: block;
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}

.boxquote .card .card-image .card-title {
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
}

.boxquote .card .card-content {
  padding: 20px;
  border-radius: 0 0 2px 2px;
}

.boxquote .card .card-content p {
  margin: 0;
  color: inherit;
}

.boxquote .card .card-content .card-title {
  line-height: 36px;
}

.boxquote .card .card-action {
  position: relative;
  background-color: inherit;
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 20px;
  z-index: 2;
}

.boxquote .card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
  color: #882931;
  margin-right: 20px;
  transition: color .3s ease;
}

.boxquote .card .card-action a:not(.btn):not(.btn-large):not(.btn-floating):hover {
  color: #ffd8a6;
}

.boxquote .card .card-action + .card-reveal {
  z-index: 1;
  padding-bottom: 64px;
}

.boxquote .card .card-reveal {
  padding: 20px;
  position: absolute;
  background-color: #fff;
  width: 100%;
  overflow-y: auto;
  top: 100%;
  height: 100%;
  z-index: 3;
  display: none;
}

.boxquote .card .card-reveal .card-title {
  cursor: pointer;
  display: block;
}

.boxquote .z-depth-0 {
  box-shadow: none !important;
}

.boxquote .z-depth-1,.boxquote nav, .boxquote .card-panel, .boxquote .card, .boxquote .toast, .boxquote .btn, .boxquote .btn-large, .boxquote .btn-floating, .boxquote .dropdown-content, .boxquote .collapsible, .boxquote .side-nav {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.boxquote .z-depth-1-half, .boxquote .btn:hover, .boxquote .btn-large:hover, .boxquote .btn-floating:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.boxquote .z-depth-2 {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.boxquote .z-depth-3 {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.boxquote .z-depth-4, .boxquote .modal {
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}

.boxquote .z-depth-5 {
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}


// Overriding original pullquote CSS to adjust for spacing
@media (min-width: 800px){
  .shortcodes-wrapper-small {
        width: 31% !important;
    }
.shortcodes-wrapper-half{
        width: 47% !important;
    }
.shortcodes-wrapper-medium  {
        width: 63% !important;
    }
}

@media (max-width: 799px){
  .shortcodes-wrapper-small {
        width: 100% !important;
        float: none !important;
    }
.shortcodes-wrapper-half {
        width: 100%;
        float: none !important;
    }
.shortcodes-wrapper-medium  {
        width: 100% !important;
        float:none !important;
    }
}


@media (max-width: 960px) {
    .shortcodes-wrapper-left,
    .shortcodes-wrapper-right,
    .shortcodes-wrapper-large,
    .shortcodes-wrapper-medium {
        float: none !important;
        clear: none;
        margin: 0 auto;
        width: 100% !important;
    }

}
