.addthis-white {
  .at300b:first-child {
    padding-left: 0 !important;
  }

  .addthis_counter {
    display: none !important;
  }

  .aticon-facebook {
    background: #fff url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%3Cpath%20fill%3D%22#{$color-primary}%22%20d%3D%22M22.439%2010.95h4v-4.95h-4c-3.311%200-6%202.92-6%206.5v2.5h-4v4.97h4v12.03h5v-12.03h5v-4.97h-5v-2.55c0-.86.532-1.5%201-1.5z%22%2F%3E%3C%2Fsvg%3E') no-repeat left !important;
  }

  .aticon-twitter {
    background: #fff url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%3Cpath%20fill%3D%22#{$color-primary}%22%20d%3D%22M26.67%209.38c-.779.35-1.63.58-2.51.69.9-.54%201.6-1.4%201.92-2.42-.85.5-1.78.87-2.78%201.06-.8-.85-1.94-1.38-3.19-1.38-2.42%200-4.379%201.96-4.379%204.38%200%20.34.04.68.11%201-3.64-.18-6.86-1.93-9.02-4.57-.38.65-.59%201.4-.59%202.2%200%201.52.77%202.86%201.95%203.64-.72-.02-1.39-.22-1.98-.55v.06c0%202.12%201.51%203.89%203.51%204.29-.37.1-.75.149-1.15.149-.28%200-.56-.029-.82-.08.56%201.74%202.17%203%204.09%203.041-1.5%201.17-3.39%201.869-5.44%201.869-.35%200-.7-.02-1.04-.06%201.94%201.239%204.24%201.97%206.71%201.97%208.049%200%2012.45-6.67%2012.45-12.45l-.01-.57c.839-.619%201.579-1.389%202.169-2.269z%22%2F%3E%3C%2Fsvg%3E') no-repeat left !important;
  }

  .aticon-email {
    background: #fff url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%3Cpath%20fill%3D%22#{$color-primary}%22%20d%3D%22M26.189%209.55h-20.149l10.02%207.57%2010.129-7.57zm-10.129%2010.12l-10.28-8.8v11.58h20.57v-11.49l-10.29%208.71z%22%2F%3E%3C%2Fsvg%3E') no-repeat left !important;
  }

  .aticon-print {
    background: #fff url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%3Cpath%20fill%3D%22#{$color-primary}%22%20d%3D%22M24.67%2010.62h-2.859v-3.13h-10.991v3.12h-2.87c-.5%200-.9.4-.9.9v7.66h3.77v1.311l4.18%204.179h6.811v-5.44h3.77v-7.7c-.011-.5-.411-.9-.911-.9zm-12.79-2.06h8.86v2.06h-8.86v-2.06zm10.979%209.18h-1.049v-2.1h-1.06v7.96h-4.35c-1.58%200-.82-3.74-.82-3.74s-3.65.891-3.69-.779v-3.43h-1.06v2.06h-1.06v-3.58h13.089v3.609zm.75-4.91c-.399%200-.719-.32-.719-.72s.319-.72.719-.72c.4%200%20.721.32.721.72s-.32.72-.721.72zm-4.119%202.96h-6.1v1.06h6.1v-1.06zm-6.11%203.149h6.101v-1.06h-6.101v1.06z%22%2F%3E%3C%2Fsvg%3E') no-repeat left !important;
  }

  .aticon-compact {
    background: #fff url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%3Cpath%20fill%3D%22#{$color-primary}%22%20d%3D%22M25.07%2013.74h-6.711v-6.71h-4.469v6.71h-6.71v4.47h6.71v6.71h4.469v-6.71h6.711z%22%2F%3E%3C%2Fsvg%3E') no-repeat left !important;
  }
}
