/*
Colaborate
*/
@font-face {
    font-family: 'Colaborate';
    src: url('../fonts/ColabReg-webfont.eot');
    src: url('../fonts/ColabReg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ColabReg-webfont.woff') format('woff'),
         url('../fonts/ColabReg-webfont.ttf') format('truetype'),
         url('../fonts/ColabReg-webfont.svg#ColaborateThinRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Colaborate';
    src: url('../fonts/ColabBol-webfont.eot');
    src: url('../fonts/ColabBol-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ColabBol-webfont.woff') format('woff'),
         url('../fonts/ColabBol-webfont.ttf') format('truetype'),
         url('../fonts/ColabBol-webfont.svg#ColaborateThinRegular') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Colaborate Thin';
    src: url('../fonts/ColabThi-webfont.eot');
    src: url('../fonts/ColabThi-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ColabThi-webfont.woff') format('woff'),
         url('../fonts/ColabThi-webfont.ttf') format('truetype'),
         url('../fonts/ColabThi-webfont.svg#ColaborateThinRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Colaborate Light';
    src: url('../fonts/ColabLig-webfont.eot');
    src: url('../fonts/ColabLig-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ColabLig-webfont.woff') format('woff'),
         url('../fonts/ColabLig-webfont.ttf') format('truetype'),
         url('../fonts/ColabLig-webfont.svg#ColaborateLightRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*
Crimson
*/
@font-face {
    font-family: 'Crimson';
    src: url('../fonts/Crimson-Roman-webfont.eot');
    src: url('../fonts/Crimson-Roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Crimson-Roman-webfont.woff') format('woff'),
         url('../fonts/Crimson-Roman-webfont.ttf') format('truetype'),
         url('../fonts/Crimson-Roman-webfont.svg#CrimsonRoman') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Crimson';
    src: url('../fonts/Crimson-Bold-webfont.eot');
    src: url('../fonts/Crimson-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Crimson-Bold-webfont.woff') format('woff'),
         url('../fonts/Crimson-Bold-webfont.ttf') format('truetype'),
         url('../fonts/Crimson-Bold-webfont.svg#CrimsonBold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Crimson';
    src: url('../fonts/Crimson-BoldItalic-webfont.eot');
    src: url('../fonts/Crimson-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Crimson-BoldItalic-webfont.woff') format('woff'),
         url('../fonts/Crimson-BoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/Crimson-BoldItalic-webfont.svg#CrimsonBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Crimson';
    src: url('../fonts/Crimson-Italic-webfont.eot');
    src: url('../fonts/Crimson-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Crimson-Italic-webfont.woff') format('woff'),
         url('../fonts/Crimson-Italic-webfont.ttf') format('truetype'),
         url('../fonts/Crimson-Italic-webfont.svg#CrimsonItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}


/*
Chunk Five
*/
@font-face {
    font-family: 'Chunk Five';
    src: url('../fonts/Chunkfive-webfont.eot');
    src: url('../fonts/Chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Chunkfive-webfont.woff') format('woff'),
         url('../fonts/Chunkfive-webfont.ttf') format('truetype'),
         url('../fonts/Chunkfive-webfont.svg#ColaborateThinRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*
Bebas
*/
@font-face {
    font-family: 'Bebas';
    src: url('../fonts/BEBAS___-webfont.eot');
    src: url('../fonts/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BEBAS___-webfont.woff') format('woff'),
         url('../fonts/BEBAS___-webfont.ttf') format('truetype'),
         url('../fonts/BEBAS___-webfont.svg#bebasregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*
Big Moore
*/
@font-face {
    font-family: 'Big Moore';
    src: url('../fonts/BigMoore-Regular.woff') format('woff');
}

/*
Franklin Gothic Book
*/
@font-face {
    font-family: 'FranklinGothicBook';
    src: url('../fonts/FranklinGothicBook.woff') format('woff');
}


/*
Melbourne
*/
@font-face {
    font-family: 'Melbourne';
    src: url('../fonts/Melbourne_reg.woff') format('woff'),
         url('../fonts/Melbourne_reg.ttf') format('truetype');
    font-weight: normal;
}

/*
Mercury Text G2
*/
@font-face {
    font-family: 'Mercury Text G2';
    src: url('../fonts/MercuryTextG2-Roman.eot');
    src: url('../fonts/MercuryTextG2-Roman.woff') format('woff'),
         url('../fonts/MercuryTextG2-Roman.ttf') format('truetype');
    font-weight: normal;
}
