@import 'sticky_bar';
@import 'sidebar_commencement';

html {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Source Sans Pro', 'sans-serif';
  font-weight: 300;
  font-size: 18px;
  margin: 0;
  padding: 0;
  background: none !important; }

body {
  margin: 0; }

header ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: 'Lato';
  font-weight: 300;
  text-transform: uppercase; }

header li {
  display: inline-block; }

header li a {
  text-decoration: none;
  color: inherit; }

#masthead-search input,
#masthead-search-mobile input {
  background-color: rgba(235,235,235,.9) !important;
  color:#000 !important;
}

.feature {
  border: none !important;
}

.article p, .section-article p {
  margin: 0;
  font-size: .9em;
  line-height: 1.3; }

.article-section a, .article-subsection a {
  font: 0.9em 'Lato', sans-serif !important;
  color: #666 !important;
}

.article-section a:hover, .article-subsection a:hover {
  color: #ba0600 !important;
}

.article-byline, .media-byline, .column-byline, .column-date {
  font: 0.75em 'Lato', sans-serif !important;
  margin: 5px 0px;
  padding-top: 2px !important; }

.article-byline a, .media-byline a, .column-byline a {
  margin-right: 3px;
  color: #999 !important;
}

.article-byline a:hover, .media-byline a:hover, .column-byline a:hover {
  color: #ba0600 !important;
}

.article-comments a {
  font: 0.75em 'Lato' sans-serif;
}

.article-related ul {
  list-style-type: disc !important;
  list-style-position: inside;
  margin: 0px !important;
  padding: 10px !important;
}

.article-related ul li{
  text-indent: -2em;
  padding-left: 2em;
}

#opinion-header {
  text-align: center;
  background-color: #EBEBEB;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 1.8em;
}

#most-read-box, .article-related {
  border: 2px solid #EBEBEB !important;
  margin: 0 auto 10px auto !important;
  width: 100% !important;
  padding: 0px !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#most-read-box h3, .article-related h3, .more-news h2 {
  color: #000 !important;
  text-align: center;
  background-color: #EBEBEB;
  padding-bottom: 8px;
  padding-top: 8px;
  font-size: 1.3em !important;
  font-family: 'Lato', sans-serif !important;
  font-weight: lighter !important;
}

.sidebar #most-read-box {
  padding: 0px;
  width: 100% !important;
}

#most-read-box ol,
.article-realted ol {
  color: #999;
  margin: 5px 0 0;
  padding: 0px 10px 10px 30px !important;
  font-size: 1em;
}

.article-listitem {
  padding: 5px 0 !important;
  border: none !important;
}

.article-listitem-text {
  width: 100% !important;
}

.article-related .article-listitem-text {
  width: 100% !important;
}

/*
Index
*/

#primary-second-top .article-content {
  margin-top: 8px; }

#primary-first img,
#primary-second-middle img {
  width: 50%;
  float: right;
  margin-left: 10px;
  margin-bottom: 3px; }

#primary-second-middle {
  border-bottom: 2px #EBEBEB;
  border-style: solid;
  border-right: 0px;
  border-left: 0px;
  border-top: 0px;
}

#primary-second-columns{
  margin-top: 5px;
}

#primary-first-middle h2,
#primary-second-top h2,
#primary-second-middle h3 {
  font-size: 1.7em; }

#primary-first-bottom h2,
#primary-second-columns h2 {
  font-size: 1.2em; }

#primary-second-columns-left {
  width: 49%;
  float: left; }

#primary-second-columns-right {
  width: 49%;
  float: right; }

#primary-second-bullets {
  width: 100%;
  float: left; }

#primary-first .article:after,
#primary-first .article:before,
#primary-second-middle .article:after,
#primary-second-middle .article:before {
  display: block;
  content: " ";
  clear: both;
  height: 0; }

#primary-second:after {
  display: block;
  clear: both;
  content: " ";
  height: 0; }

.article-content .article-section,
.section-feature-text .article-section {
  font: 0.75em 'Lato', sans-serif;
  padding-bottom: 2px;
}

#opinion-left {
  width: calc(50% - 4px);
  float: left;
  padding-left: 4px;
  padding-bottom: 4px;
  }

#opinion-left img {
  width: 100%; }

#opinion-right {
  width: calc(50% - 4px);
  float: right;
  padding-right: 4px;
  padding-bottom: 4px;
  }

#section-opinion {
  background-color: transparent;
  border: 2px solid #EBEBEB;
  text-align: left !important;
  width: 100%;
  padding-left: 0px;
  margin-left: 0px;
  }

#opinion-header {
  color: #000;
  text-align: center;
  background-color: #EBEBEB;
  padding-bottom: 8px !important;
  padding-top: 8px !important;
  /* margin: 0px; */
  font-weight: lighter;
  font-size: 1.3em;
  font-family: 'Lato', sans-serif;
  }

#fm-logo img {
  height: 100px;
  margin-left: -70px;
  margin-bottom: -50px; }

#fm-logo:after {
    content: "";
    display: inline-block;
    vertical-align: top;
    margin-top: 27px;
    position: relative;
    width: calc(100% - 176px);
    border-top-style: solid;
    border-top-width: 2px;
}

#fm-left {
  width: 65.6%;
  float: left; }

#fm-right {
  width: 32.2%;
  float: right; }

#fm-right img {
  width: 100%; }

#fm-right h2 {
  font-size: 1.4em; }

.section-sports-second .section-article {
  padding:0px;
  margin-bottom:20px;
}

.section-header {
  background: linear-gradient(180deg, transparent calc(49%), black calc(49%), black calc(52%), transparent calc(52%));
  clear: both;
  }

.section-header a {
  font-family: 'Lato', sans-serif;
  color: #000;
  background-color: #ffffff;
  padding: 7px 16px 7px 20px;
  margin: 75px;
  font-size: 28px;
  }

.section-sports-featured {
  position: relative;
  min-height: 150px; }

.section-sports-featured .article-content {
  background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, rgba(0, 0, 0, 0.65)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
  /* IE6-9 */
  position: absolute;
  bottom: 20px;
  color: white;
  padding: 10px;
  overflow: hidden;
  text-shadow: #555 2px 2px 3px;
  width: 100%; }

.section-sports-featured .article-content h2 {
  margin: 0;
  font-size: 1.8em;
  line-height: 85%;
  padding: 0px 10px;}

.section-sports-featured .article-byline {
  padding: 5px 10px;
}

.section-sports-featured .article-content a {
  color: white !important; }

.section-arts-second img {
  width: 32.8%;
  float: left; }

#section-opinion h3 {
  font-size: 18px; }

#section-opinion .section-article {
  padding-bottom: 0px; }

#opinion-ul,
#primary-second-ul {
  padding-left: 15px;
  margin-bottom: 3px;
  margin-top: 0px;
  /* font-weight: bold; */
  }

#opinion-ul a,
#primary-second-ul a {
  font: 1.05em 'Crimson', Georgia, serif;
  line-height: 0;
  }

#nav-sections {
  /* border-top: 1px solid #EEE; */
  /* border-bottom: 1px solid #EEE; */
  background-color: rgba(238,238,238,1);
  color: #222; }

#nav-sections li a, #nav-sections li a:hover {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #888; }

#nav-sections li.nav-published a {
  color: black; }
  #nav-sections li.nav-published a:hover {
    color: #870400; }

#nav-sections li.nav-published:hover, #nav-sections li.active.nav-published {
  /* background-color: #BBB; */
  background-color: #f8f8f8; }

#nav-sections-mobile {
  display: none; }

#masthead-first-wrapper {
  background: #fff url('/static/images/header-logo-dark.png') no-repeat scroll -75px -75px/500px auto; }

#masthead-nav,
#masthead-nav-mobile {
  background-color: rgba(192, 192, 192, 1) !important; }

#masthead-nav-mobile ul li a,
#masthead-nav ul li a {
  color: #777777 !important; }

a, a:visited {
  text-decoration: none;
  color: #ba0600 }

a:hover, a:active {
  text-decoration: underline; }

.landing-article-byline a, .landing-work-byline a {
  text-transform: uppercase;
  font-style: normal; }

.wrapper {
  margin-left: 50px; }

/*
Incidental overrides ("Most Read" overrides)
*/
.article-more-in-text {
  width: 195px !important; }

/*
Header
*/
header h3 {
  text-transform: uppercase;
  font-size: 1.6em;
  margin-top: 8px;
  color: #777777;
  font-family: 'Lato', 'Colaborate Thin', 'Gill Sans', sans-serif;
  font-weight: 300;
  letter-spacing: 5px; }

header h3 a, header h3 a:hover, header h3 a:active, header h3 a:visited {
  text-decoration: none;
  color: #777777; }

#header-image {
  background-image: url('/static/css/img/cover.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center -200px;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.5; }

img {
  max-width: 100%;
  max-height: 100%; }

#yir-fm-title {
  position: absolute;
  z-index: 1;
  padding-top: 60px;
  width: 100%;
  text-align: center;
  opacity: 1; }

#yir-fm-title img {
  width: 150px; }

#yir-title {
  position: absolute;
  z-index: 1;
  padding-top: 100px;
  font-size: 60px;
  font-family: 'Raleway', 'sans-serif';
  color: #000;
  font-weight: 500;
  width: 100%;
  text-align: center;
  letter-spacing: 10px;
  opacity: 1;
  text-transform: uppercase; }

#yir-subhead {
  position: absolute;
  z-index: 1;
  padding-top: 180px;
  font-size: 18px;
  font-family: 'Lora', 'sans-serif';
  color: #000;
  width: 100%;
  text-align: center;
  font-style: italic;
  opacity: 1; }

.content-wrapper {
  display: table;
  clear: both; }

.section {
  margin: 36px 0 25px 0; }

.section.supp-page {
  margin-top: 0; }

.section-header {
  text-align: left;
  margin: 50px 0 20px 0;
  font-family: 'PT Serif', 'serif';
  text-transform: uppercase;
  font-weight: 300;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 5px;
  display: inline-block;
  width: 100%;
  }

/* YEAR IN PHOTOS */
#intro {
  width: 100%;
  background-image: url('/static/css/img/yip-cover.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  text-align: center;
  margin-bottom: 50px; }

#intro-img {
  height: 100vh; }

#intro-text {
  position: absolute;
  right: 20px;
  bottom: 200px;
  font-family: 'Lato', sans-serif;
  color: #fff;
  font-size: 6em;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 10px;
  text-align: right;
  text-shadow: 0 0 5px black; }

#intro p {
  font-family: 'Lato', san-serif; }

.shortcodes-byline#intro {
  position: absolute;
  bottom: -40px;
  left: 0px;
  text-align: left; }

#view-button {
  position: absolute;
  right: 40px;
  bottom: 120px;
  background-color: rgba(0, 0, 0, 0.5);
  height: 55px;
  width: 200px;
  cursor: pointer;
  z-index: 9;
  opacity: 0; }

#view-button a, #view-button a:hover, #view-button a:active, #view-button a:visited {
  padding-top: 15px;
  height: 100%;
  width: 100%;
  color: #fff;
  letter-spacing: 5px;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  text-align: center;
  display: block;
  z-index: 9;
  text-decoration: none;
  opacity: 0; }

.dark-cover {
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  position: absolute; }

.fader {
  background-color: black;
  z-index: 3; }

.yip-contrib {
  font-size: 0.8em;
  text-transform: uppercase; }

.shortcodes-image-parallax {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
  background-attachment: fixed !important;
  height: 100vh; }

.shortcodes-object-fullscreen .shortcodes-byline {
  float: left !important;
  font-size: .75em !important;
  margin-left: 20px;
  color: #d1d1d1; }

.section-title {
  position: absolute;
  bottom: 0px;
  padding: 50px;
  font-size: 4em;
  color: #fff;
  font-family: 'Lato', san-serif; }

.section-title {
  background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, rgba(0, 0, 0, 0.65)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
  /* IE6-9 */
  position: absolute;
  bottom: 0px;
  padding: 50px;
  font-size: 4em;
  color: #fff;
  font-family: 'Lato', san-serif;
  text-align: left;
  overflow: hidden;
  text-shadow: #555 2px 2px 3px;
  width: calc(100% - 100px); }

.content.commencement a {
  color: #000;
  text-decoration: none;
}

.content.commencement a:hover {
  color: #ba0600;
  text-decoration: none;
}

.feature .article-content {
  padding: 0px !important;
}

.section-big-title {
  font-size: 1.7em;
  padding-top: 12px;
  padding-bottom: 10px;
  line-height: 100%; }
.section-small-title {
  font-size: 1.4em;
  padding-top: 5px;
  line-height: 25px; }

/* HOME LINK */
.home-link {
  position: fixed;
  right: 0;
  background-color: #a70500;
  color: #fff;
  padding-right: 15px;
  font-family: 'Lato', 'Agenda', 'Gill Sans', sans-serif;
  font-weight: lighter;
  top: 470px;
  text-align: center;
  -webkit-transition: padding 250ms ease 0;
  -moz-transition: padding 250ms ease 0;
  -o-transition: padding 250ms ease 0;
  transition: padding 250ms ease 0; }

.home-link:hover {
  padding-right: 24px; }

.home-link a {
  color: #fff;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: block;
  padding: 10px;
  padding-left: 8px; }

.home-link a:hover {
  color: #fff;
  text-decoration: none; }

.break-on-large {
  display: block;
  height: 0; }

.show-on-small {
  display: none; }

/* ----- */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

.cf {
  *zoom: 1; }

.landing-divider,
.section-divider,
.landing-divider-sports,
.section-divider-sports {
  content: "";
  display: block;
  clear: both;
  width: 100%;
  background-color: #d1d1d1;
  height: 1px;
  margin: auto; }

.leader-ad {
  margin: 0 auto 24px auto;
  width: 728px;
  padding: 5px;
  border: 1px solid #aaa; }

.ad-tag {
  width: 728px;
  padding-left: 5px;
  margin: 0 auto;
  font-size: 0.7em;
  text-transform: uppercase; }

.top-leader-ad {
  margin-top: 20px; }

/* YEAR IN REVIEW */
.section.yir .article,
.section.yis .article,
.section.reunion .article,
.section.ed .article {
  position: relative;
  margin-bottom: 15px; }

.section.yir .featured-container .article-content,
.section.yis .featured-container .article-content,
.section.reunion .featured-container .article-content,
.section.ed .featured-container .article-content {
  background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, rgba(0, 0, 0, 0.65)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
  /* IE6-9 */
  position: absolute;
  bottom: 0px;
  color: white;
  padding: 10px;
  overflow: hidden;
  text-shadow: #555 2px 2px 3px;
  width: calc(100% - 20px); }

.section.yir .featured-container .article-content h2,
.section.yis .featured-container .article-content h2,
.section.reunion .featured-container .article-content h2,
.section.ed .featured-container .article-content h2 {
  margin: 0;
  font-size: 1.8em;
  line-height: 85%; }

.section.yir .featured-container .article-content a,
.section.yis .featured-container .article-content a,
.section.reunion .featured-container .article-content a,
.section.ed .featured-container .article-content a {
  color: white; }

#cards-horizontal p,
#cards-horizontal-noimg p {
  font-size: 1em;
  padding-top: 10px; }

.section.yir .section-header,
.section.yis .section-header,
.section.reunion .section-header,
.section.ed .section-header {
  background: none;
  font-family: 'Lato', sans-serif;
  color: #000;
  padding: 0px;
  padding-bottom: 10px;
  margin: 0px; }

.content.commencement .section-feature-text {
  padding:0px;
}

/* RESPONSIVITY */
@media (min-width: 1001px) {
  .content {
    width: 1000px;
    margin: 0 auto 20px auto; } }

@media (max-width: 1000px) {
  .content {
    width: 93%;
    margin: auto;
    display: block; } }

@media (min-width: 541px) {
  .section1-left,
  .section3-left {
    width: calc(60% - 8px);
    float: left;
    margin-right: 8px; }
  .section1-right,
  .section3-right {
    width: calc(40%);
    float: right; }
  .section2-left,
  .section4-left {
    width: calc(40%);
    float: left;
    margin-right: 8px; }
  .section2-right,
  .section4-right {
    width: calc(60% - 8px);
    float: right; }
  .show-on-small {
    display: inline; }
  .section#yir .section-top .section-left,
  .section#yis .section-left,
  .section#reunion-1992 .section-left,
  .section#reunion-1967 .section-left {
    width: calc(60% - 20px);
    float: left;
    display: inline; }
  .section#yir .section-top .section-right,
  .section#yis .section-right,
  .section#reunion-1992 .section-right,
  .section#reunion-1967 .section-right {
    width: 40%;
    display: inline;
    float: right; }
  .section#yir .section-top {
    margin-bottom: 5px; }
  .section#yir .section-bottom:before,
  .section#yir .section-bottom:after {
    clear: both;
    display: block;
    content: "";
    height: 0px; }
  .section#yir .section-bottom .section-left {
    width: 40%;
    float: left;
    display: inline; }
  .section#yir .section-bottom .section-right {
    width: calc(60% - 20px);
    float: right;
    display: inline; }
  .section#senior-section .section-left {
    width: calc(50% - 10px);
    float: left;
    display: inline; }
  .section#senior-section .section-right {
    width: calc(50% - 10px);
    float: right;
    display: inline; }
  .yir-top-left {
    height: 387px;
    width: 100%; }
  .yir-top-right,
  .yir-bottom-left {
    height: 185px;
    width: 100%;
    }
  .yir-bottom-right {
    height: 430px;
    width: 100%; }
  .yis-left {
    height: 320px;
    width: 100%; }
  .yis-right {
    height: 332px;
    width: 100%; }
  .senior-section-left {
    height: 251px;
    background-size: cover;
    background-position: center; }
  .reunion-1992-left,
  .reunion-1967-left {
    height: 444px; }
  .senior-section-right {
    height: 350px; }
  .reunion-1992-right {
    height: 200px; }
  .reunion-1967-right {
    height: 195px; }
  .left-story {
    position: relative;
    width: 100%;
    margin-bottom: 5px;
    }
  .right-story {
    float: left;
    margin-bottom: 5px;
    width: 100%;
    position: relative;
    height: 50%;
    margin-bottom: 10px; }
  .left-story-media {
    margin-right: 5px;
    position: relative;
    width: 100%;
    height: 160px; }
  .right-story-media {
    width: 100%;
    height: 140px; }
  .section.yir .featured-top .featured-left {
    width: calc(60% - 15px);
    float: left;
    margin-right: 15px; }
  .section.yir .featured-top .featured-left .media,
  .section.yir .featured-bottom .featured-right .media {
    height: 403px; }
  .section.yir .featured-top .featured-right .media,
  .section.yir .featured-bottom .featured-left .media {
    height: 194px; }
  .section.yir .featured-top .featured-right {
    width: 40%;
    float: right; }
  .section.yir .featured-bottom:before {
    display: block;
    clear: both;
    content: "";
    height: 0px; }
  .section.yir .featured-bottom .featured-left {
    width: 40%;
    float: left;
    margin-righ: 30px; }
  .section.yir .featured-bottom .featured-right {
    width: calc(60% - 15px);
    float: right; }
  .section.yis .featured-top .featured-left {
    width: calc(60% - 15px);
    float: left;
    margin-right: 15px; }
  .section.yis .featured-top .featured-right {
    width: calc(40%);
    float: right; }
  .section.yis .featured-bottom:before {
    display: block;
    height: 0px;
    content: "";
    clear: both; }
  .section.yis .featured-bottom .featured-left {
    width: 40%;
    float: left;
    margin-right: 15px; }
  .section.yis .featured-bottom .featured-right {
    width: calc(60% - 15px);
    float: right; }
  .section.yis .featured-container .media {
    height: 290px; }
  .section.reunion .featured-left,
  .section.ed .featured-left {
    width: calc(60% - 15px);
    float: left;
    margin-right: 15px; }
  .section.reunion .featured-right,
  .section.ed .featured-right {
    width: 40%;
    float: right; }
  .section.reunion .featured-left .media,
  .section.ed .featured-left .media {
    height: 405px; }
  .section.reunion .featured-right .media,
  .section.ed .featured-right .media {
    height: 195px; }
  #cards-two {
    position: relative;
    margin-bottom: 20px;
    margin-top: 30px;
    overflow: hidden; }
  #cards-two-left {
    float: left;
    margin-right: 15px;
    width: calc(50% - 15px); }
  #cards-two-left:after {
    content: "";
    background-color: #d1d1d1;
    position: absolute;
    width: 1px;
    height: 355px;
    top: 5px;
    left: 50%;
    display: block; }
  #cards-two-right {
    float: right;
    margin-left: 15px;
    width: calc(50% - 15px); }
  #cards-three {
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
    margin-top: 40px; }
  #cards-three-left {
    float: left;
    width: calc(33.3% - 20px);
    margin-right: 30px; }
  #cards-three-right {
    float: right;
    width: calc(33.3% - 20px); }
  #cards-three-left:after {
    content: "";
    background-color: #d1d1d1;
    position: absolute;
    width: 1px;
    height: 355px;
    top: 5px;
    left: 33.3%;
    display: block; }
  #cards-three-right:before {
    content: "";
    background-color: #d1d1d1;
    position: absolute;
    width: 1px;
    height: 355px;
    top: 5px;
    left: 66.6%;
    display: block; }
  .card img {
    width: 75%;
    margin: auto;
    display: block;
    margin-bottom: 10px; }
  .card .article-content {
    text-align: center;
    width: 95%;
    margin: auto;
    display: block; }
  .card h3 {
    font-size: 2em; }
  .card .article-content p {
    width: 75%;
    margin: auto;
    display: block;
    font-size: 1em; }
  #cards-horizontal,
  #cards-horizontal-noimg {
    padding: 40px 70px;
    overflow: hidden; }
  #cards-horizontal img {
    width: 40%;
    float: left; }
  #cards-horizontal .article-content {
    padding: 10px;
    width: calc(60% - 40px);
    float: right; }
  #cards-horizontal-noimg .article-content {
    width: 100%;
  }
  #cards-horizontal h3,
  #cards-horizontal-noimg h3  {
    font-size: 2em;
    padding-bottom: 10px; }}

@media (max-width: 540px) {
  .content {
    width: 93%; }
  .yir-top-left,
  .yir-top-right,
  .yir-bottom-left,
  .yir-bottom-right,
  .yis-left,
  .yis-right,
  .senior-section-left,
  .reunion-1992-left,
  .reunion-1967-left,
  .senior-section-right,
  .reunion-1992-right,
  .reunion-1967-right {
    width: 100%;
    height: 200px;
    overflow: auto; }
  .left-story {
    position: relative;
    width: 100%;
    margin-bottom: 5px; }
  .right-story {
    float: left;
    margin-bottom: 5px;
    width: 100%;
    position: relative;
    height: 50%;
    margin-bottom: 10px; }
  .left-story-media {
    margin-right: 5px;
    position: relative;
    width: 100%;
    height: 160px; }
  .right-story-media {
    width: 100%;
    height: 140px; }
  .section-header a {
    font-size: .8em;
    padding: 7px !important;
    margin: 12px !important; }
  .section.yir .featured-top .featured-left,
  .section.yir .featured-top .featured-right,
  .section.yir .featured-bottom .featured-left,
  .section.yir .featured-bottom .featured-right {
    width: 100%;
    margin-right: 30px; }
  .section.yir .media,
  .section.yis .media,
  .section.reunion .media,
  .section.ed .media  {
    height: 300px; }
  #cards-three {
    margin: 20px; }
  #cards-two {
    margin-top: 30px; }
  #cards-two-left,
  #cards-two-right,
  #cards-three-left,
  #carrds-three-right {
    width: 100%; }
  .card img {
    width: 75%;
    margin: auto;
    display: block;
    margin-bottom: 10px; }
  .card .article-content {
    text-align: center;
    width: 95%;
    margin: auto;
    display: block; }
  .card h3 {
    font-size: 2em; }
  .card .article-content p {
    width: 75%;
    margin: auto;
    display: block;
    font-size: 1em; }
  #cards-horizontal,
  #cards-horizontal-noimg {
    width: 100%;
    overflow: hidden; }
  #cards-horizontal img {
    display: none; }
  #cards-horizontal h3,
  #cards-horizontal-noimg {
    font-size: 2em; }
  #cards-horizontal .article,
  #cards-horizontal-noimg .article {
    padding-top: 15px; } }

@media (max-width: 475px) {
  #nav-sections.mobile-hidden {
    display: none; } }

/* AD RESPONSIVITY */
@media (min-width: 729px) {
  .article-heading {
    padding-top: 0; } }

@media (max-width: 728px) {
  .leader-ad {
    display: none; }
  .ad-tag {
    display: none; } }
