.flyby_preview{
    margin-left:-5px;
    width: 100%;

}
.flyby_preview .teaser{
    font-size: 12px;
}
.flyby_preview_story {
    display: block;
    width: 297px;
    border-bottom: 1px solid #eee;
    padding: 5px 5px 10px 5px;
	min-height: 35px;
}
.flyby_preview span.headline{
    font-weight: bold;
    font-size: 14px;
}
.more-link{
    text-align: center;
    padding: 5px;
    width: 297px;
    display: block;
    font-size: 12px;
}
.flyby_preview_story:hover, .more-link:hover{
    background-color: #eee;
}
.flyby_preview a:hover{
    text-decoration: none;
}
.front_galleries{
    margin-bottom: 15px;
}

.front_gallery .thclabel{
    margin-bottom: 5px;
}
.front_gallery .text{
    height: 20px;
    margin-top: -20px;
}

.article_previews li {
    width: 299px;
    display: block;
    float: left;
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: 1px dotted #d1d1d1;
}

.article_previews li.last_item{
    border-bottom: 0px;
}

.article_previews .image_thumb {
    float: right;
    margin-left: 5px;
}

.article_previews .teaser {
    font-size: 13px;
    clear: left;
}

.article_headlines .byline, .article_headlines .byline > a{
    color: #999;
}

.article_headlines ul {
    list-style-type: none;
}
.article_headlines li {
    font-size: 11px;
	font-family: Helvetica,Tahoma,Arials,sans-serif;
	color: #999;
    margin: 0 0 6px;
    padding-bottom: 6px;
    border-bottom: 1px dotted #d1d1d1;
}
.article_headlines h3 > a{
    font-weight: bold;
    font-size: 13px;
	font-family: georgia,"times new roman",times,serif;
}

.article_feature {
    text-align: center;
    padding: 5px;
	margin-bottom: 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.article_feature h3, .article_feature p {
    text-align: left;
}
.article_feature h3, .article_feature h3 > a {
    font-weight: bold;
    font-size: 16px;
}
.article_feature .byline {
    color: #999;
	font-size: 12px;
    margin: 4px 0 3px;
}
.article_feature .teaser {
    font-size: 14px;
}

.img_list li {
    font-size: 12px;
    width: 296px;
    height: 60px;
    margin-bottom: 5px;
    display: block;
    float: left;
}
.img_list li > a.img {
    display: block;
    float: left;
    margin-right: 4px;
}

.series img {
    margin-bottom: 8px;
}
.series ul{
    list-style: disc outside;
}
.series li {
    display: list-item;
    margin: 0 0 5px 20px;
    width: 276px;
}
.series li > h3 > a{
    font-size: 14px;
    font-weight: normal;
}

.reviews h2 {
    border-bottom: 1px solid #bbb;
}
.reviews ul {
    margin-bottom: 6px;
    list-style: none;
}
.reviews li > h3 > span {
    display: inline-block;
}
.reviews li > h3 > span.link{
    width: 196px;
}
.reviews li > span.rating{
    width: 90px;
}

div#sportsticker_sport a {
    color: white;
    text-decoration: none;
    font-size: 12px;
}

div#sportsticker_slug {
    display: inline;
    font-size: 14px;
}

div#sportsticker_slug a {
    color: black;
    text-decoration: none;
}

div.twocol > span.cell {
    display: block;
    width: 145px;
    float: left;
    margin: 0 0 4px 3px;

    font-size: 13px;
}

div.feature {
    padding: 5px 4px 3px;
    margin: 8px 0;
}
div.feature > h2{
    font-size: 12px;
    color: #666;
    margin: 0 0 3px 3px;
    padding-bottom: 3px;
    font-family: arial;
    font-weight: bold;
    text-transform: uppercase;
}

div#PG_fb  {
    height: 250px;
    margin-top: -17px;
}

.facebook-twitter .small-text-icon-item{
    height: 16px;
    line-height: 16px;
}
.facebook-twitter{
    padding-top: 5px;
    text-align: center;
}
.facebook-twitter .twitter, .facebook-twitter .facebook{
    background-position: center center;
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    display: inline-block;
}
.facebook-twitter .facebook{
    background-image: url(../images/icons/icon-facebook.gif);
}.facebook-twitter .twitter{
    background-image: url(../images/icons/icon-twitter.png);
}
