<footer>
  <div id="footer">
  <table>
  <tr>
    <td id="footer-sections">
      <h1>Sections</h1>
      <ul>
        <li><a href="/section/news/">News</a></li>
        <li><a href="/section/opinion/">Opinion</a></li>
        <li><a href="/section/features/">Features</a></li>
        <li><a href="/section/fm/">Magazine</a></li>
        <li><a href="/section/sports/">Sports</a></li>
        <li><a href="/section/arts/">Arts</a></li>
        <li><a href="/section/media/">Multimedia</a></li>
        <li><a href="/flyby/">Flyby</a></li>
      </ul>
    </td>

    <td id="footer-more">
      <h1>More</h1>
      <ul>
        <li><a href="/about/">About Us</a></li>
        <li><a href="/advertising/" target="_blank">Advertising</a></li>
        <li><a href="https://subscribe.thecrimson.com/">Subscribe</a></li>
        <li><a href="http://programs.thecrimson.com/">Journalism Programs</a></li>
        <li><a href="/classifieds/" rel="nofollow">Classifieds</a></li>
        <li><a href="http://thecrimson.personforce.com/" target="_blank">Job Board</a></li>
        <li><a href="http://store.thecrimson.com/" target="_blank">Photo Store</a></li>
      </ul>
    </td>

    <td id="footer-resources">
      <h1>Resources</h1>
      <ul>
        <li><a href="/about/privacy/">Privacy Policy</a></li>
        <li><a href="/about/permissions/">Rights &amp; Permissions</a></li>
        <li><a href="/contact/">Contact Us</a></li>
        <li><a href="/contact/">Corrections</a></li>
        <li><a href="/subscribe/">Email&nbsp;Subscriptions</a></li>
        <li><a href="https://subscribe.thecrimson.com/">Print&nbsp;Subscriptions</a></li>
        <li><a href="/sitemap/">Archives</a></li>
        <li><a href="/sitemap/contributors/">Writers</a></li>
      </ul>
    </td>

    <td rowspan="2" id="footer-img">
      <div id="footerimg"></div>
    </td>
  </tr>
  </table>
  <br>
  <center>Copyright © {% now "Y" %} The Harvard Crimson, Inc.</center>
  </div>
</footer>
