{% load common %}
{% load content_filters %}

<div style="margin-top: 55px;">
<object width="560" height="340">
    <param name="movie" value="https://www.youtube.com/v/{{video.key}}&hl=en&fs=1&color1=0x0&color2=0x333333">
    <param name="allowFullScreen" value="true">
    <param name="allowscriptaccess" value="always">
    <embed src="https://www.youtube.com/v/{{video.key}}&hl=en&fs=1&color1=0x0&color2=0x333333" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="560" height="340">
    </object>
</div>
