div.search_choice_field div.results > span{
    display: inline-block;
    width: 180px;
    border: 1px solid #999;
    padding: 2px 4px;
    margin: 5px;
}
div.search_choice_field div.results > span span{
    display: block;
    text-align: center;
    margin-bottom: 4px;
    border-bottom: 1px solid #ddd;
}
div.search_choice_field div.chosen_objs > span {
    display: block;
    float: left;
    margin: 0 0 10px 103px;
    padding: 0 4px;
    cursor: ns-resize;
}
div.search_choice_field div.chosen_objs > span > span{
    display: inline-block;
    max-width: 150px;
    margin: 2px 4px;
    padding: 0 8px 0 0;
    border-right: 1px solid #666;
}
