{% load common %}
{% load content_filters %}

{% if content %}
<div class="choices">
	<ul>
 	   	<li class="active">{{ content|first|render:"preview_media" }}</li>
		{% for c in content|slice:"1:" %}
    	<li>{{ c|render:"preview_media" }}</li>
		{% endfor %}
	</ul>
	<span class="pagination">
		{% if p.has_previous %}
    	<a href="#1">&laquo; Newest</a>
    	<a href="#{{p.previous_page_number}}">&lsaquo; Newer</a>
		{% endif %}
		{{p.start_index}} - {{p.end_index}} of {{paginator.count}}
		{% if p.has_next %}
    	<a href="#{{p.next_page_number}}">Older &rsaquo;</a>
    	<a href="#{{paginator.num_pages}}">Oldest &raquo;</a>
		{% endif %}
	</span>
</div>
{% else %}
<span class="empty">Sorry, no content matching your filters could be found! Try adding some sections.</span>
{% endif %}
