<link rel="stylesheet" type="text/x-scss" href="{{ STATIC_URL }}css/interstitials/interstitial_store.scss">
<div id="interstitial-store">
	<div id="interstitial-image-store">
		<div id="interstitial-close-store"><a class="interstitial-close" href="#">Close</a></div>
		<h1>The commencement photo you wish you had taken.</h1>
	</div>

	<div id="interstitial-spiel-store">
			<h1>On sale now at</h1>
			<a href="https://store.thecrimson.com"><img src="{{ STATIC_URL }}images/store_logo.png"></a>
	</div>

	<div id="interstitial-footer-store">
			<h2><a href="https://store.thecrimson.com">store.thecrimson.com</a></h2>
	</div>
</div>
