{% load ads_tags %}
{% load compress %}
{% load content_filters %}
{% load content_tags %}
{% load content_module %}
{% load common %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1">

        <title>{% block title %}{{ topic.headline }}{% endblock %}</title>

        <script src="//s7.addthis.com/js/300/addthis_widget.js#pubid=thecrimson" type="text/javascript"></script>

        {% compress js %}
            {% ads_head %}
            <script src="{{ STATIC_URL }}js/lib/jquery.js"></script>
            <script src="{{ STATIC_URL }}js/table.js"></script>
            <script src="{{ STATIC_URL }}js/topicpage/spotlight.js"></script>
            <script src="{{ STATIC_URL }}js/responsive.js"></script>
            <script src="{{ STATIC_URL }}js/topicpage/jquery.fancybox.pack.js"></script>
            <script src="{{ STATIC_URL }}js/topicpage/jquery.fancybox-buttons.js"></script>
            <script src="{{ STATIC_URL }}js/topicpage/jquery.fancybox-media.js"></script>
            <script src="{{ STATIC_URL }}js/topicpage/jquery.fancybox-thumbs.js"></script>
            <script src="{{ STATIC_URL }}js/sticky_bar.js"></script>


            <script>
                // Google Analytics
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                ga('create', '{{ ANALYTICS_USER_AGENT }}', 'thecrimson.com');
                ga('send', 'pageview');
            </script>
        {% endcompress %}

        {% compress css %}
            <link rel="stylesheet" type="text/x-scss" href="{{ STATIC_URL }}css/fonts.scss">
            <link rel="stylesheet" type="text/x-scss" href="{{ STATIC_URL }}css/topicpage/compendium.scss">
            <link rel="stylesheet" type="text/x-scss" href="{{ STATIC_URL }}css/responsive.scss">
            <link rel="stylesheet" type="text/x-scss" href="{{ STATIC_URL }}css/topicpage/jquery.fancybox.scss">
            <link rel="stylesheet" type="text/x-scss" href="{{ STATIC_URL }}css/topicpage/jquery.fancybox-buttons.scss">
            <link rel="stylesheet" type="text/x-scss" href="{{ STATIC_URL }}css/topicpage/jquery.fancybox-thumbs.scss">
            <link rel="stylesheet" type="text/x-scss" href="{{ STATIC_URL }}css/specific_shortcodes.scss">
        {% endcompress %}

        {{ custom_html|safe }}
    </head>
    <body class="spotlight-light">
        {% block masthead_header %}
    <header>
      <div id="masthead">
        <div id="masthead-first-wrapper">
          <div id="toolbar">
            <div id="toolbar-container">
              <nav id="toolbar-colophon">
                {% contentmodule quicklinks %}{% endcontentmodule %}
              </nav>
              <nav id="toolbar-social">
                {% contentmodule quicklinks-social %}{% endcontentmodule %}
              </nav>
              <div id="toolbar-weather">
                {% weather %}
              </div>
              <div id="masthead-search-mobile">
                <form action="/search/" id="cse-search-box">
                  <input type="hidden" name="cx" value="013815813102981840311:aw6l9tjs1a0" />
                  <input type="hidden" name="cof" value="FORID:10" />
                  <input type="hidden" name="ie" value="UTF-8" />
                  <input type="text" class="query" name="q" />
                  <button class="search-submit" type="submit" name="sa">Search</button>
                </form>
              </div>
            </div>
          </div>
          <div id="masthead-first">
            <div id="masthead-first-container">
              <h1>
                <a id="masthead-logo" href="/">
                  <img src="{{ STATIC_URL }}images/masthead.png" width="415">
                </a>
              </h1>
              <div id="masthead-search">
                <form action="/search/" id="cse-search-box">
                  <input type="hidden" name="cx" value="013815813102981840311:aw6l9tjs1a0" />
                  <input type="hidden" name="cof" value="FORID:10" />
                  <input type="hidden" name="ie" value="UTF-8" />
                  <input type="text" class="query" name="q" />
                  <button class="search-submit" type="submit" name="sa">Search</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div id="masthead-second">
          <nav id="masthead-nav-mobile">
            <ul>
              <li><a href="#">Sections</a></li>
            </ul>
          </nav>
          <nav id="masthead-nav" class="mobile-hidden">
            {% spaceless %}
              <ul>
                <li>{% section_link "News" is nav %}</li>
                <li>{% section_link "Opinion" is nav %}</li>
                <li>{% section_link "Features" is nav %}</li>
                <li>{% section_link "Magazine" is nav %}</li>
                <li>{% section_link "Sports" is nav %}</li>
                <li>{% section_link "Arts" is nav %}</li>
                <li>{% section_link "Multimedia" is nav %}</li>
                <li>{% section_link "Flyby" is nav %}</li>
              </ul>
            {% endspaceless %}
          </nav>
        </div>
      </div>
    </header>
  {% endblock masthead_header %}

        {% block content %}

        {% endblock %}


        <div id="comments">
            <div id="disqus_thread"></div>
        </div>

        <footer>
          <img class="is-light" src="{{ STATIC_URL }}images/footer-title.png" width="319" />
          <img class="is-dark" src="{{ STATIC_URL }}images/masthead.png" width="319" />
          <ul>
            <li><a href="/about/privacy/">Privacy Policy</a></li>
            <li><a href="/about/permissions/">Rights &amp; Permissions</a></li>
            <li><a href="/contact/">Contact Us</a></li>
            <li><a href="/contact/">Corrections</a></li>
            <li><a href="/sitemap/">Archives</a></li>
            <li><a href="/sitemap/contributors/">Writers</a></li>
          </ul>
        </footer>
    </body>
</html>
