.bodacious {
  animation: bodacious 1s infinite;
}

body {
  text-shadow: 2px 2px red;
}

body {
   background-image: url("https://www.thewallpapers.org/photo/66767/Nature-and-Summer-time-041.jpg");
   background-position: center;
   background-color: #cccccc;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

html {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;
}

footer {
    display: block;
}
img {
  border-radius: 50%;
}


html {
    font-family: 'Rammetto One', cursive;
}

@keyframes bodacious{
  20% {
    color: red;
  }
  40% {
    color: yellow;
  }
  60% {
    color: green;
  }
  80% {
    color: blue;
  }
  100% {
    color: orange;
  }
}
