{% load compress %}
{% load common %}
{% load ads_tags %}
{% load content_filters %}
{% load content_tags %}
{% load flyby_preview %}
{% load top_articles %}
{% load placeholders %}
{% load fm_yir %}

<!DOCTYPE html>
<html>
<head>
    <title>{{topic.title}} | Magazine | The Harvard Crimson </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="initial-scale=1">
    {% placeholder name="header article" content_range="(0,1)" content_types="article,topic page" as headerarticles %}
        {% with harticle=headerarticles|first %}
            {% if harticle.main_rel_content %}
                <meta property="og:image" content="{{ article.main_rel_content|img_url:"800,800" }}">
                <meta property="og:url" content="http://{{ request.get_host }}{{ request.path }}">
        {% endif %}
        {% endwith %}
    {% endplaceholder %}
    <meta property="og:description" content="{{ topic.description }}">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,200italic,300italic,400italic|Lato:300,400,700|Lora:400,700,400italic|Open+Sans:300italic,400italic,600italic,400,300,600,700|Raleway:400,200,300,500,600,700' rel='stylesheet' type='text/css'>


    {% compress css %}

    <link rel="stylesheet" type="text/x-scss" href="{{ STATIC_URL }}css/fmmain2016.scss">
    <link rel="stylesheet" type="text/x-scss" href="{{ STATIC_URL }}css/fmgoes-around.scss">
    <link rel="stylesheet" type="text/x-scss" href="{{ STATIC_URL }}css/fmshortcodes.scss">
    <link rel="stylesheet" type="text/x-scss" href="{{ STATIC_URL }}css/fmmagnific-popup.scss">
    {% endcompress %}

    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/TweenMax.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/scrollmagic.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery.roundabout.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/fm-yearinreview.js"></script>


    <script src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=thecrimson" type="text/javascript"></script>
    <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-327124-1', 'thecrimson.com');
        ga('send', 'pageview');

        var googletag = googletag || {};
        googletag.cmd = googletag.cmd || [];
        (function() {
            var gads = document.createElement('script');
            gads.async = true;
            gads.type = 'text/javascript';
            var useSSL = 'https:' == document.location.protocol;
            gads.src = (useSSL ? 'https:' : 'http:') +
            '//www.googletagservices.com/tag/js/gpt.js';
            var node = document.getElementsByTagName('script')[0];
            node.parentNode.insertBefore(gads, node);
        })();

        googletag.cmd.push(function() {
            googletag.defineSlot('/1046082/TheCrimson_AllArticles_ATF_728x90', [728, 90], 'TheCrimson_AllArticles_ATF_728x90').addService(googletag.pubads());
            googletag.defineSlot('/1046082/TheCrimson_AllArticles_BTF_728x90', [728, 90], 'TheCrimson_AllArticles_BTF_728x90').addService(googletag.pubads());
            googletag.pubads().enableSingleRequest();
            googletag.enableServices();
        });

        addthis.layers({
            'theme' : 'transparent',
            'share' : {
              'position' : 'right',
              'numPreferredServices' : 5
            }
        });
    </script>
</head>

<body>
    <header>
        <div class="wrapper">
            <a class="header-logo" href="http://www.thecrimson.com/">
                <img src="{{ STATIC_URL }}images/whitecrimsonlogofm.png" height="18" width="215">
            </a>
        </div>
    </header>

    <div id="header">
        <a href='/section/fm'><div id="yir-fm-title"><img src="{{ STATIC_URL}}images/fmlogo-black.png"></div></a>
        {{ custom_html|safe }}
        {% placeholder name="header article" content_range="(0,1)" content_types="article,topic page" as headerarticles %}
        {% with harticle=headerarticles|first %}
        <a href="{{ harticle.get_absolute_url }}">
        {% if harticle.main_rel_content %}
            <div id="header-image" style="background-image: url('{{ harticle.main_rel_content|img_url:"1500,1500" }}');  background-repeat: no-repeat; background-size: cover; min-height: 100%; min-width: 100%;">
                <div id="header-information">
                <div id="header-title">
                    {{harticle.title}}
                    </div>
                    <div id="header-byline">
                        {{harticle|byline:"short"}}
                    </div>
                    <div id = "header-description">
                        {{harticle.description}}
                    </div>
                </div>
              </div>
              <div class="fullscreen-byline">
                {{ harticle.main_rel_content|byline:"short" }}
              </div>
        {% endif %}
    </a>

            {% endwith %}
        {% endplaceholder %}
    </div>

    <div class="content">
        {% comment %}
        <div class="section">
            <div class="section-anchor" id="featured"></div>
            {% placeholder name="featured article" content_range="(0,4)" content_types="article,topic page,gallery" as feats %}
            {% for feat in feats %}
                <div class="featured-main cf">
                        <a href="{{ feat.get_absolute_url }}">
                            <div class="featured-main-title">
                                    <div class="featured-title-text">{{ feat.title}}</div>
                                    <div class="byline">{{ feat|byline:"short"}}</div>
                                    <p>{{ feat.description}}</p>
                                </div>
                            {% if feat.main_rel_content %}
            <div class="first-story" style="background-image: url( {{feat|yir_img|img_url:"800,300" }} ); background-position: center">
                            </div>

        {% endif %}

                        </a>
                </div>
             {% endfor %}
            {% endplaceholder %}
        </div>
        {% endcomment %}
        <div class="section">
            <div class="section-anchor" id="featured"></div>
            <div class="section-header"></div>
            {% placeholder name="non featured articles" content_range="(0,40)" content_types="article,topic page" as feats %}
            {% group_list feats as featBlock 4 %}
            {% for feat in featBlock %}
                <div class="featured-container cf">
                    <div class="featured-left">

                        {% if feat.0 %}
                        <a href="{{ feat.0.get_absolute_url }}">
                            <div class="first-story" style="background-image: url( {{feat.0|yir_img|img_url:"800,300" }} ); background-position: center">
                                <div class="featured-title">
                                    <div>{{ feat.0.title}}</div>
                                    <p>{{ feat.0.description}}</p>
                                </div>
                            </div>
                        </a>
                        {% endif %}

                         {% if feat.1 %}
                        <a href="{{ feat.1.get_absolute_url }}">
                            <div class="second-story" style="background-image: url( {{feat.1|yir_img|img_url:"950,450" }} ); background-position: center; background-size: cover">
                                <div class="featured-title">
                                    <div>{{ feat.1.title}}</div>
                                    <p>{{ feat.1.description}}</p>
                                </div>
                            </div>
                        </a>
                        {% endif %}
                    </div>
                    <div class="featured-right">
                         {% if feat.2 %}
                        <a href="{{ feat.2.get_absolute_url }}">
                            <div class="first-story" style="background-image: url( {{feat.2|yir_img|img_url:"500,225" }} ); background-position: center; background-size: cover">
                                <div class="featured-title">
                                    <div>{{ feat.2.title}}</div>
                                    <p>{{ feat.2.description}}</p>
                                </div>
                            </div>
                        </a>
                         {% endif %}
                         {% if feat.3 %}
                        <a href="{{ feat.3.get_absolute_url }}">
                            <div class="second-story" style="background-image: url( {{feat.3|yir_img|img_url:"500,500" }} ); background-position: center; background-size: cover">
                                <div class="featured-title">
                                    <div>{{ feat.3.title}}</div>
                                    <p>{{ feat.3.description}}</p>
                                </div>
                            </div>
                        </a>
                        {% endif %}
                    </div>
                </div>
             {% endfor %}
            {% endplaceholder %}
        </div>
    </div>

</div>

<div class="ad-tag">Advertisement</div>
<div id="TheCrimson_AllArticles_ATF_728x90" class="leader-ad">
    <script type='text/javascript'>
        if ($(window).width() >= 728) {
            googletag.cmd.push(function() { googletag.display('TheCrimson_AllArticles_ATF_728x90'); });
        }
    </script>
</div>
<div class="content">

</div>
