{% load common %}
{% load content_filters %}

{% if article.main_rel_content and article.main_rel_content.image %}
    <div class="blog-entry main-entry blog-campus">
        <div class="entry-image"><a href="{{ article.get_absolute_url }}">
            {{ article.main_rel_content|to_img_tag:"638,380,638,380"}}</a>
        </div>
    </div>

    <div class="main-entry-inner blog-{{ featured_content|get_flyby_category|lower }}">
        <h2>
            <a href="{{ featured_content.get_absolute_url }}">{{ featured_content.headline }}</a>
        </h2>

        <div class="entry-info">
            <div class="entry-byline">
                <div class="entry-author">
                    {{ featured_content|byline_sans_by:"short" }}
                </div>
                <div class="entry-date">
                    {{ featured_content|datify }}
                </div>
                {% if featured_content.num_comments > 0 %}
                    <div class="article-comments">
                        <a href="{{ featured_content.get_absolute_url }}#article-comments">
                            <span class="comment-count">{{ featured_content.num_comments }}</span> comments
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
        <p>{{ featured_content.teaser|truncatewords:42 }}</p>
    </div>

{% endif %}
