{% extends "__base.html" %}
{% load top_articles %}
{% load common %}
{% load content_filters %}
{% load ads_tags %}
{% load flyby_preview %}
{% load shortcodes_filters %}

{% block css %}
    <link rel="stylesheet" type="text/x-scss" href="{{ STATIC_URL }}css/article.scss">
{% endblock css %}

{% block meta %}
    {{ block.super }}
    {% if request.GET.page = "single" %}
        <meta name="robots" content="noindex">
    {% endif %}
{% endblock meta %}

{% block title %}
    {{ image.headline }} |
    {% if image.section %}
        {{ image.section }} |
    {% endif %}
    {{ block.super }}
{% endblock %}

{% block js %}
    {{ block.super }}
    <!-- AddThis Smart Layers BEGIN -->
    <!-- Go to http://www.addthis.com/get/smart-layers to customize -->
    <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=thecrimson"></script>
    <!-- AddThis Smart Layers END -->

    <script type="text/javascript">
        var disqus_shortname = '{{ DISQUS_SHORTNAME }}';
        var disqus_url = 'http://www.thecrimson.com{{ request.path }}';
        (function() {
            var dsq = document.createElement('script');
            dsq.type = 'text/javascript';
            dsq.src = 'http://thecrimson.disqus.com/embed.js';
            dsq.async = true;
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0])
                .appendChild(dsq);
        })();
    </script>

    <script>
        {% if not article.show_ads %}
          Crimson.ADS_ENABLED = false;
        {% endif %}
    </script>
{% endblock %}
{% block meta_social %}
    <meta property="og:image" content="{{ image|img_url:"635,630" }}">
    <meta property="og:url" content="http://{{ request.get_host }}{{ request.path }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@thecrimson">
    <meta name="twitter:title" content="{{ image.kicker }}">
    <meta name="twitter:description" content="{{ image.caption }}">
    <meta name="twitter:image" content="{{ image|img_url:"480,480" }}">
    {{ block.super }}
{% endblock %}

{% block content %}
    {% block body %}
        <section id="main">
            <div id="article">
                <div id="article-header">
                    {% block flybyheader %}{% endblock %}
                    <h1>{{ image.kicker }}</h1>
                    <div class="article-byline">{{ image|byline:"full" }}{% date image %}</div>
                </div>

                <div class="addthis_toolbox addthis_default_style addthis_32x32_style sidebar">
                    <div class="add-this-inner">
                        <a class="addthis_button_facebook"></a>
                        <a class="addthis_button_twitter"></a>
                        <a class="addthis_button_email"></a>
                        <a class="addthis_button_print"></a>
                        <a class="addthis_button_compact"></a>
                        <a class="addthis_counter addthis_bubble_style"></a>
                    </div>
                </div>

                <div id="article-body">
                    <div id="article-image-side">
                        <a href="{{ image.get_absolute_url }}">
                            {{ image|to_img_tag:"800,1200" }}
                        </a>
                        <!--<div class="article-image-credit">
                            {{ image.contributors.all|linkify|human_list }}
                        </div>-->
                        <p class="article-image-caption">
                            {{ image.caption|safe }}
                        </p>
                    </div>
                    <div id="text">
                        {% if image.group and image.group.type = 'column' %}
                        <h2>
                            <a href="{{ image.group.get_absolute_url }}">{{ image.group.name }}</a>
                        </h2>
                        {% endif %}
                    </div>
                    <div id="article-tags">
                        {% if tags %}
                            <h3>Tags</h3>
                            <div>
                            {% for tag in tags %}
                                <a href="{{ tag.url }}">{{ tag.text|safe }}</a>
                                {% ifnotequal forloop.last 1 %}{% endifnotequal %}
                            {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="sidebar">
                    {% with image.rel_content.all|rel_articles as ras %}
                        {% if ras %}
                            <div id="article-related-shell" class="sidebar">
                                <div id="article-related">
                                    <h3>Related Articles</h3>
                                    <ul>
                                        {% for ra in ras %}
                                        <li>{{ ra|linkify }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% endif %}
                    {% endwith %}
                    {% most_read_articles %}
                    <div class="sidekick-shell sidebar">
                        <div class="sidekick primary">
                            {% ad_unit "300x600" %}
                        </div>
                        <div class="large-screen-only">
                            {% flyby_preview %}
                        </div>
                        <div class="sidekick-shell">
                            <div class="sidekick">
                                <div class="ad-label">Advertisement</div>
                                {% ad_unit "300x250" %}
                            </div>
                        </div>
                    </div>
                </div>

                <div id="article-comments">
                    <div id="disqus_thread"></div>
                </div>
            </div>
        </section>
    {% endblock body %}
{% endblock content %}
