{% extends "__base.html" %}

{% block js %}
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/jquery.init.js"></script>
{{ form.media }}
{% endblock %}

{% block content %}
    {% block body %}
        <section id="main">
            <form action="/photoarchiver/" method="post" enctype="multipart/form-data">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit">
            </form>
        </section>
    {% endblock %}
{% endblock %}
