{% extends 'base.html' %}

{% block head %}
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="../static/encode.js"></script>
{% endblock %}

{% block body %}
<form id="encode_form" method="post">
    <input id="key" name="key" placeholder="Key"/>
    <input id="msg" name="msg" placeholder="Message"/>
    <button type="submit">Encode</button>
    {% csrf_token %}
</form>
<textarea id="result"></textarea>
{% endblock %}
