<div class="inline-group" id="Section_layout_instances-group">
  <h2>Section-Layoutinstance Relationships</h2>
<input id="id_Section_layout_instances-TOTAL_FORMS" name="Section_layout_instances-TOTAL_FORMS" type="hidden" value="1" /><input id="id_Section_layout_instances-INITIAL_FORMS" name="Section_layout_instances-INITIAL_FORMS" type="hidden" value="1" /><input id="id_Section_layout_instances-MAX_NUM_FORMS" name="Section_layout_instances-MAX_NUM_FORMS" type="hidden" value="1000" />


<div class="inline-related" id="Section_layout_instances-0">
  <h3><b>Layout Instance:</b>&nbsp;<span class="inline_label">Section_layout_instances object</span>

    <span class="delete"><input id="id_Section_layout_instances-0-DELETE" name="Section_layout_instances-0-DELETE" type="checkbox" /> <label for="id_Section_layout_instances-0-DELETE" class="vCheckboxLabel inline">Delete</label></span>
  </h3>


    <fieldset class="module aligned ">



        <div class="form-row field-layoutinstance">


                <div>


                        <label for="id_Section_layout_instances-0-layoutinstance" class="required">Layoutinstance:</label>

                            <select id="id_Section_layout_instances-0-layoutinstance" name="Section_layout_instances-0-layoutinstance">
<option value="">---------</option>
<option value="17">Arts Section Page</option>
<option value="18">Opinion Section Page</option>
<option value="19">Magazine Section Page</option>
<option value="20" selected="selected">News Section Page</option>
<option value="21">Sports Section Page</option>
<option value="22">Flyby Section Page</option>
<option value="23">Admissions Section Page</option>
<option value="24">Media Section Page</option>
</select>



                </div>

        </div>

        <div class="form-row field-active">


                <div>


                        <input id="id_Section_layout_instances-0-active" name="Section_layout_instances-0-active" type="checkbox" /><label for="id_Section_layout_instances-0-active" class="vCheckboxLabel required">Active</label>


                </div>

        </div>

</fieldset>

</div>
</div>
